.authform {
  /* text-align: center; */
  max-width: 28rem;
  width: 90%;
  /* margin-top: 20rem; */
  margin: 2rem auto;
  background-color: whitesmoke;
  padding: 0.5rem 0.5rem;
  box-shadow: 3px 2px 3px 13px whitesmoke;
  border: 10px solid #297be6;
  border-radius: 10px;
}
.authform img {
  margin-left: 10rem;
  cursor: pointer;
}
.form {
  padding: 0.5rem 0.5rem;
}
.form label {
  font-size: inherit;
  text-align: left;
  color: gray;
}
.form input {
  padding: 0.5rem 0.25rem;
  width: 95%;
  max-width: 25rem;
  border-radius: 12rem;
  border: navajowhite;
  outline: 0;
}
.action {
  text-align: center;
  padding: 0.5rem 0.5rem;
}
.action button {
  font-size: inherit;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  background-color: white;
  color: gray;
  cursor: pointer;
}
