.emailbody {
  display: flex;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
}
.body{
  display: flex;
  align-items: center;

}
.body .delete{
  max-width: 50px;
}
.emailbody:hover {
  box-shadow: 2px 2px 4px whitesmoke;
  cursor: pointer;
}
.emailbody__left {
  display: flex;
  align-items: center;
  min-width: 300px;
  flex: 20%;
}
.emailbody__left svg {
  font-size: 15px;
  color: gray;
  margin-right: 10px;
}
.emailbody__left h4 {
  font-size: 14px;
}
.emailbody .emailbody__middle {
  display: flex;
  align-items: center;
  flex: 80%;
  min-width: 530px;
}
.emailbody__middle b {
  margin-right: 5px;
}
.emailbody__middle__msg {
  display: flex;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.emailbody__middle p {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  max-width: 500px;
}
.htmleditor {
  display: flex;
  align-items: center;
  overflow: hidden;

  margin: 0;
  margin-left: 5px;
  padding: 0;
  
  text-overflow: ellipsis;
}

.emailbody .emailbody__right {
  display: flex;
  align-items: center;
  flex: 10%;
  justify-content: flex-end;
  min-width: 100px;
}
.emailbody .emailbody__middle p {
  display: flex;
  font-size: 14px;
  margin: 0;
  margin-right: 5px;
}
.emailbody .emailbody__right p {
  font-size: 14px;
}
